*{
    margin: 0;
    padding: 0;
}
.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
    border-bottom: 2px solid black;

}

.practo-img{
    width: 140px;
    height: 25px;
    margin-right: 2rem;
}
.nav-main{
    height: 90px;


}
.nav-log{
    border: 1px solid black;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.drpdown{
    border: hidden;
    width: 130px;
    height: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}
.nav-head{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-head1{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-text{
    font-weight: bolder;
    text-decoration: none;
    font-size: 15px;
}
.nav-log:hover{
   transform: scale(1.01);
    transition-duration: 0.2s;
    color: lightblue;
}
